USE [CDLT]
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 18/02/2020 5:39:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaSo] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhomHang] ON 

INSERT [dbo].[NhomHang] ([MaSo], [Ten]) VALUES (2, N'Bán chạy')
INSERT [dbo].[NhomHang] ([MaSo], [Ten]) VALUES (1, N'Hàng giảm giá')
INSERT [dbo].[NhomHang] ([MaSo], [Ten]) VALUES (3, N'Thực vật')
SET IDENTITY_INSERT [dbo].[NhomHang] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhomHang__C451FA833D5646B4]    Script Date: 18/02/2020 5:39:06 PM ******/
ALTER TABLE [dbo].[NhomHang] ADD UNIQUE NONCLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
