@model IEnumerable<ThietBiBosch.Database.PhieuNhap>

@{
    ViewBag.Title = "PhieuNhapKho";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>Phiếu nhập kho</h2>


    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
